.contents--container {
  padding: 2rem 1rem;
  background-color: #f9f9f9;
  height: 100%;
  display: flex;
  gap: 2rem;
  overflow: scroll;
}

.contents--left {
  width: 63%;

  .video--contents {
    min-width: 32rem;

    .video--wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
      }
    }
  }
}

.contents--right {
  flex: 1;
  position: relative;
  .editor--wrapper {
    position: sticky;
    border: 1px solid pink;
    width: 100%;
    height: 80%;
  }
}
