
.main-container {
  min-height: 100vh;
  background-color: $bg-primary-color;
  display: flex;
}

.main-sidebar {
  min-height: 100vh;
  background-color: black;
  width: 24rem;
  padding: 0 1.6rem;
}
.main-content {
  flex: 1;
  min-height: 100vh;
  background-color: pink;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 2rem;
    margin-top: 2rem;
    padding: 0 2rem;
  }

  .grid-item {
    .item-image-wrapper {
      overflow: hidden;
      border-radius: 2rem;
      > img {
        width: 100%;
        object-fit: cover;
      }
    }
    .item-content {
      margin-top: 1rem;
      &__title {
        font-size: 1.7rem;
      }

      &__sub-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
