.main-container {
  min-height: 100vh;
  background-color: $bg-primary-color;
  display: flex;
  padding-top: 10rem;
}

.main-sidebar {
  width: $min-guide-sideb-bar;
  padding: 0 1.6rem;
  position: sticky;
  z-index: 1000;
  left: 0;
  top: 10rem;
  height: 100vh;
  background-color: white;
  .sidebar-wrapper {
    padding: 0 1rem;
  }
  .sidebar-menu-wrapper {
  }
}
.main-content {
  flex: 1;
  height: 100vh;
  overflow: scroll;

  &-video {
    margin-top: 3rem;
    > h3 {
      padding-left: 3rem;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
      grid-gap: 2rem;
      margin-top: 2rem;
      padding: 0 2rem;
    }

    .grid-item {
      cursor: pointer;
      .item-image-wrapper {
        overflow: hidden;
        border-radius: 2rem;
        > img {
          width: 100%;
          object-fit: cover;
        }
      }
      .item-content {
        margin-top: 1rem;
        &__title {
          font-size: 1.7rem;
        }

        &__sub-wrapper {
          display: flex;
          justify-content: space-between;
          color: $text-grey;
        }
      }
    }
  }
  &-shorts {
    margin-top: 3rem;
    > h3 {
      padding-left: 3rem;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 2rem;
      margin-top: 2rem;
      padding: 0 2rem;
    }

    .grid-item {
      cursor: pointer;
      .item-image-wrapper {
        overflow: hidden;
        border-radius: 2rem;
        > img {
          width: 100%;
          object-fit: cover;
        }
      }
      .item-content {
        margin-top: 1rem;
        &__title {
          font-size: 1.7rem;
        }

        &__sub-wrapper {
          display: flex;
          justify-content: space-between;
          color: $text-grey;
        }
      }
    }
  }
}
