// background
$bg-primary-color: #f8f7f4;
$secondary-color: #2ecc71;

// color
$black-500: #0d0c22;
$grey-500: #565564;
$white: #fff;
$yellow-500: #fee500;
$text-grey: #606060;

$font-stack: 'Helvetica', sans-serif;
