.topbar__container {
  background-color: $bg-primary-color;
  height: 10rem;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar__menu {
  display: flex;
  gap: 2rem;
  > .li {
  }
}

.topbar__logo {
}

.topbar__user {
}
